{% extends 'main_app/main_layout.html' %}

{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <h4 class="page-title">Home</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Agroxa</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0);">Home</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
