{% extends 'main_app/basic_layout.html' %}
{% load static %}

{% block main_content %}
<div class="wrapper-page">
    <div class="card">
        <div class="card-body">

            {% if form.errors %}
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ form.errors }}
            </div>
            {% endif %}

            <h3 class="text-center m-0">
                <a href="/home" class="logo logo-admin">
                    <img src="{% static 'images/logo.png' %}" height="30" alt="logo">
                </a>
            </h3>

            <div class="p-3">

                <form class="form-horizontal m-t-0" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label>Username</label>
                        <input name="{{ form.username.name }}" value="{% firstof form.username.value '' %}"
                            class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                        <label>Email Address</label>
                        <input name="{{ form.email.name }}" value="{% firstof form.email.value '' %}"
                            class="form-control" placeholder="Enter Email Address">
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input name="{{ form.first_name.name }}" value="{% firstof form.first_name.value '' %}"
                                    class="form-control" placeholder="Enter First Name">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input name="{{ form.last_name.name }}" value="{% firstof form.last_name.value '' %}"
                                    class="form-control" placeholder="Enter Last Name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="{{ form.password.name }}"
                                    value="{% firstof form.password.value '' %}" class="form-control"
                                    placeholder="Enter Password">
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="{{ form.confirm_password.name }}"
                                    value="{% firstof form.confirm_password.value '' %}" class="form-control"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                    </div>

                    <div class="form-group row m-t-20">
                        <div class="col-12 text-right">
                            <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Sign Up</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="text-white-50">Already have an account?
            <a href="/login" class="text-white"> Login Now</a>
        </p>
    </div>

</div>
{% endblock %}
